<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>


<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

  Name: <%= f.text_field :name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>
<p><p>

<b>Would you like to <a href="http://localhost:3000">return to the main page?</a></b>
