<body>
<h1>Statler Test Server</h1>

<% stylesheet_link_tag "style" %>

<h3>> Create new annotation:</h3>
<%= form_tag("/annotation", method: "post") do %>
  <label>Annotation:</label>      <%= text_field_tag(:annotation) %><br />
  <label>Video Title:</label>     <%= text_field_tag(:video_title) %><br />
  <label>Video Author:</label>    <%= text_field_tag(:video_author) %><br />
  <label>Video Location:</label>  <%= text_field_tag(:location) %><br />
  <label>Semantic Tag:</label>    <%= text_field_tag(:semantic_tag) %><br />
  <%= submit_tag("Submit") %>
<% end %>

<br />
<br />

<h3>> Search by annotation:</h3>
<br />
<div class="form">

  <%= form_tag("/search", :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Annotations:" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<h3>> Search by tag:</h3>
<br />
<div class="form">
  <%= form_tag("/searchtag", :method => "get", id: "search-form") do %>
    <%= text_field_tag :searchtag, params[:searchtag], placeholder: "Search Semantic Tags:" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<br />
<br />

<h2>Here are the annotations that you have previously submitted:</h2>
<% user_content_helper %>
<% count = 0 %>
<% if @returns == ["You need to be logged in to see annotations that you have submitted."] %>
	<%== @returns[0] %>
	
<% elsif @returns == ["You have not submitted any annotations."] %>
	<%== @returns[0] %>
<% else %>
	<% @returns.each do |t| %> 
		<% vid = Video.select("title").where(:id => t.video_id)[0].title %>
		<% x = "#{count+1}:<br>Annotation: #{t.annotation} <br>Video: #{vid}<br>" %>
		<p><%== x %> </p>
		<% count += 1 %>
	<% end %>
<% end %>

<%= form_tag("/api/generateKey", method: "post") do %>
  <label>Application Name:</label> <%= text_field_tag(:application_name) %><br>
  <%= submit_tag("Create API Key") %>
<% end %>

<table>
  <tr>
    <th>Application Name</th>
    <th>API Key</th>
  </tr>

  <% ApiKey.find_each do |apikey| %>                    
    <tr>
      <td><%= apikey.application_name  %></td>
      <td><%= apikey.api_key           %></td>
    </tr>
  <% end %>
</table>

</body>

