<body>
<h1>Statler Test Server</h1>

<!--
<h3>> Search by annotation text:</h3>
<div class="form">
  <%= form_tag("/search", :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Annotations:" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<br />

<h3>> Search by tag:</h3>
<div class="form">
  <%= form_tag("/searchtag", :method => "get", id: "search-form") do %>
    <%= text_field_tag :searchtag, params[:searchtag], placeholder: "Search Semantic Tags:" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>
-->

<!-- BEGIN SESSION GUARDED CONTENT -->
<% if is_logged_in %>

<h3>> Your Annotations</h3>
<% user_content_helper %>
<% count = 0 %>
<% if @returns == ["You need to be logged in to see annotations that you have submitted."] %>
	<h3><%== @returns[0] %></h3>
	
<% elsif @returns == ["You have not submitted any annotations."] %>
	<h3><%== @returns[0] %></h3>
<% else %>
	<% @returns.each do |t| %> 
		<% vid = Video.select("title").where(:id => t.video_id)[0].title %>
		<% x = "#{count+1}:<br>Annotation: #{t.annotation} <br>Video: #{vid}<br>" %>
		<p><%== x %> </p>
		<% count += 1 %>
	<% end %>
<% end %>

<!-- END SESSION GUARDED CONTENT -->
<% end %>


<% if !is_logged_in %>
<h3>> Your Annotations</h3>
<p>Log in to see your submitted annotations.</p>
<% end %>

<br />

<h3>> Generate API Key</h3>
<%= form_tag("/api/generateKey", method: "post") do %>
  <label>Application Name:</label> <%= text_field_tag(:application_name) %><br>
  <%= submit_tag("Create API Key") %>
<% end %>

<table>
  <tr>
    <th>Application Name</th>
    <th>API Key</th>
  </tr>

  <% ApiKey.find_each do |apikey| %>                    
    <tr>
      <td><%= apikey.application_name  %></td>
      <td><%= apikey.api_key           %></td>
    </tr>
  <% end %>
</table>


</body>

